/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
/vendor
# .env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
/.fleet
/.idea
/.vscode
package-lock.json
composer.lock
pnpm-lock.yaml
npm-debug.log
yarn-error.log

